.items-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));

    gap: 25px;

    margin-top: 30px;
}

.item-card {

    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    transition: 0.3s;
}

.item-card:hover {
    transform: translateY(-5px);
}

.item-card img {

    width: 100%;
    height: 220px;

    object-fit: cover;
}

.item-info {
    padding: 20px;
}

.item-info h3 {
    margin: 0;
    color: #1565c0;
}

.item-info p {
    color: #555;
}

.item-type {

    margin-top: 15px;

    display: inline-block;

    background: #1565c0;

    color: white;

    padding: 6px 12px;

    border-radius: 20px;

    font-size: 14px;
}

.search-input {

    width: 100%;

    padding: 15px;

    border-radius: 15px;

    border: none;

    margin-top: 20px;

    margin-bottom: 20px;

    font-size: 16px;

    box-shadow:
        0 3px 10px rgba(0,0,0,0.08);
}